@import url("https://fonts.googleapis.com/css2?family=Flamenco&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: default;
    scroll-behavior: smooth;
}

body {
    font-family: "Flamenco", cursive;
}

nav {
    width: 100%;
    height: 50px;
    position: sticky;
    background: rgba(0, 0, 0, 0.8);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

nav ul li a:hover {
    background: #f00;
}

nav ul {
    display: flex;
    padding: 0 100px;
    margin: 0;
    float: right;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    display: block;
    padding: 0 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 50px;
    cursor: pointer;
}

.sec2 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    animation: slide 20s infinite;
    background-color: #1b2024;
}

.load {
    animation: slide 1s;
}

.content {
    color: white;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

@keyframes slide {
    0% {
        background-image: url(../images/yopizza.jpg);
    }
    20% {
        background-image: url(../images/yopizza.jpg);
    }
    20.01% {
        background-image: url(../images/myp.jpg);
    }
    40% {
        background-image: url(../images/myp.jpg);
    }
    40.01% {
        background-image: url(../images/yopizza.jpg);
    }
    100% {
        background-image: url(../images/yopizza.jpg);
    }
}

.content .info {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    padding: 0 20px;
    text-align: center;
    z-index: 10;
    text-shadow: rgb(0, 0, 0) 9.51667px -4.13333px 7.78164px;
}

.color-tr {
    columns: #fff;
}

.content h1 {
    line-height: 1;
    font-size: 80px;
    margin: 15px 0;
    text-transform: none;
}

.font-heading {
    font-family: "Cinzel", serif;
}

.content p {
    letter-spacing: 1.5px;
    line-height: 1.72;
    margin-bottom: 24px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.ourmenu {
    margin-top: 10px;
}

.sec3 {
    background: url(../images/prep.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.tab {
    display: table-cell;
    vertical-align: middle;
    padding-left: 10%;
    padding-right: 10%;
}

.sec3 .details {
    background: white;
    max-width: 1640px;
    margin: 120px auto;
    position: relative;
    text-align: center;
    justify-content: center;
    z-index: 10;
    padding: 50px 45px 30px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    font-size: 30px;
    opacity: 0.95;
}

.color-content {
    color: #1b2024;
    background-color: #fff;
}

.fhead {
    color: black;
    font-size: 40px;
}

.sec3 .content {
    background: white;
    color: black;
}

.container .ttleOrder {
    text-align: center;
    margin-bottom: 45px;
    clear: both;
    overflow: hidden;
}

.ttleOrder .sub {
    line-height: 1;
    margin-bottom: 7px;
    letter-spacing: 1px;
    font-style: italic;
}

.sub.color {
    color: #f00;
}

.ttleOrder.v h3 {
    border-width: 1px 0;
    border-style: solid;
    padding: 4px 15px 0;
    font-size: 32px;
}

.ttleOrder h3 {
    line-height: 1.3;
    display: inline-block;
}

.sec4 {
    min-height: 60vh;
}

.bgImage {
    background: url(/images/shpcatorn.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

#show-receipt {
    display: none;
    border-width: 1px 0;
    border-style: solid;
    padding: 4px 15px 0;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 20px;
    /* display: table-cell; */
    vertical-align: middle;
}

.sec5 {
    min-height: 60vh;
}

.ftr {
    margin-top: 3%;
    height: 5vh;
    background-color: black;
    padding: 0 10px;
    padding-bottom: 160px;
}

.ftr ul li a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    font-weight: 700;
    cursor: pointer;
}

.ftr ul {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
    color: white;
}

.ftr ul li {
    display: inline;
    margin: 0 20px;
}

.ftr p {
    margin-top: 2%;
    color: white;
    text-align: center;
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: auto;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa-instagram {
    color: white;
    background: black;
}

.fa-twitter {
    color: white;
    background: black;
}


/* Media Queries: Tablet Landscape */

@media screen and (max-width: 1060px) {
    #primary {
        width: 67%;
    }
    #secondary {
        width: 30%;
        margin-left: 3%;
    }
}


/* Media Queries: Tabled Portrait */

@media screen and (max-width: 768px) {
    #primary {
        width: 100%;
    }
    #secondary {
        width: 100%;
        margin: 0;
        border: none;
    }
}